<!DOCTYPE html>
<header>

</header>

<body>
    <div>
        <div>
            <h2>This is Schedule Controller</h2>
        </div>
        <hr>
        <div>
            <div>
                Schedule List
            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Schedule
                            </th>
                            <th>
                                File
                            </th>
                            <th>
                                Todo
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script>

</script>